<html>
<title>mrubyc-ide</title>
<head>
  <meta charset="UTF-8">
  <script src="/lib/codemirror.js"></script>
  <link rel="stylesheet" href="/lib/codemirror.css">
  <link rel="stylesheet" href="/theme/base16-dark.css">
  <script src="/mode/ruby/ruby.js"></script>
</head>

<body>
  <h1>mrubyc開発環境 for <%= @writer_name %></h1>
  <form action="<%= @writer_action %>" method="POST">
    <div>
      ファイル名:<br><input type="text" name="name" value="program">
    </div>
    <br>
    <div>
      コンパイラバージョン:
      <select name="version">
        <% for v in @versions do %>
        <% if v==@default_mrbc then %>
        <option value="<%= v %>" selected>mrbc <%= v %></option>
        <% else %>
        <option value="<%= v %>">mrbc <%= v %></option>
        <% end %>
        <% end %>
      </select>
    </div>
    <br>
    <div>
      <% if @writer == :download then %>
      <input type="submit" value="コンパイル&ダウンロード">
      <% elsif @writer == :ble then %>
      <input type="submit" value="転送(<%= @writer_name %>)">
      <% end %>
    </div>
    <br>
    <div>
      mrubyプログラム:<br>
      <textarea id="program" name="program"></textarea>
    </div>
    <script>
      var editor = CodeMirror.fromTextArea(document.getElementById("program"), {
        mode: "ruby",
        lineNumbers: true,
        theme: 'base16-dark'
      });
      editor.setSize("60%", "60%");
      editor.save();
    </script>
    <br>
  </form>
</body>
</html>
